@charset "UTF-8";
/* ----- изменяемые цвета ----- */
:root {
  --color-main: #212121;
  --color-background-main: #ffffff;
  --color-text: #757575;
  --color-logo-main: #2196f3;
  --color-logo-second-top: #212121;
  --color-logo-second-footer: #ffffff;
  --color-hero-header: #ffffff;
  --color-hero-shadow: rgba(47, 48, 58, 0.4);
  --color-selection-nav-text: #2196f3;
  --color-selection-button-text: #ffffff;
  --color-selection-button-background: #2196f3;
  --color-selection-button-focus: #188ce8;
  --color-social-link-team: #afb1b8;
  --color-social-link-team-hover: #ffffff;
  --color-social-link-team-background: transparent;
  --color-about-us-text: #ffffff;
  --color-about-us-bg-color: rgba(47, 48, 58, 0.8);
  --color-clients-logo-studio: #afb1b8;
  --color-button-portfolio: #f5f4fa;
  --color-background-section-one: #2f303a;
  --color-background-section-two: #f5f4fa;
  --color-technical-text: #ff0000;
  --color-line-header: #ececec;
  --color-line-box: #eeeeee;
  --color-footer-adress: #ffffff;
  --color-footer-social-background: rgba(255, 255, 255, 0.1);
  --color-modal-button-submit-hover: #188ce8;
  --color-mobile-menu-link: #2196f3;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------ глобальные правила ----- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* убираем нижний отступ у изображений */
.img-corect {
  vertical-align: bottom;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background-main);
  color: var(--color-main);
  font-size: 14px;
}

.link {
  color: var(--color-main);
  text-decoration: none;
}

.link-decoration {
  text-decoration: none;
}

/* ------ выделение ----- */
/* показываем на какой мы странице */
.link-current {
  color: var(--color-selection-nav-text);
}
.link-current::after {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4px;
  width: 100%;
  bottom: 0;
  background-color: var(--color-selection-nav-text);
}

.link-current-mobile {
  color: var(--color-selection-nav-text);
}

/* tab навигации */
.selection-nav {
  -webkit-transition: color 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function);
}
.selection-nav:hover, .selection-nav:focus {
  color: var(--color-selection-nav-text);
}

/* ----------- контейнер ---------- */
.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* глобальные параметры секций */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* ----- header all ----- */
/* выравнивание элементов header в линю и минимальная высота */
.header {
  border-bottom: 1px solid var(--color-line-header);
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header-nav-mobile {
    display: none;
  }
}

/* линия под хедером */
.decor {
  border-bottom: 1px solid var(--color-line-header);
}

/* logo */
.logo-header {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo-main);
  margin-right: 93px;
}
@media screen and (max-width: 1199px) {
  .logo-header {
    margin-right: 88px;
  }
}

.logo-studio-top {
  color: var(--color-logo-second-top);
}

/* расположение навигации */
.nav-position {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-position:first-child {
  margin-left: 0px;
}

/* шрифты и расположение для studio, portfolio и contacts  */
.nav-font {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
}
@media screen and (min-width: 768px) {
  .nav-font {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

/* расположение contacts */
@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-contacts {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-position {
    margin-bottom: 10px;
  }
  .contacts-position:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-position {
    margin-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts-position:last-child {
    margin-right: 0;
  }
}

/* шрифт, выравнивание и падинги email и tel */
.contacts-font {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function);
}
@media screen and (min-width: 1200px) {
  .contacts-font {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts-font:hover, .contacts-font:focus {
  color: var(--color-selection-nav-text);
}

/* отступ svg справа */
.contacts-icon {
  fill: var(--color-text);
  margin-right: 10px;
  -webkit-transition: fill 250ms var(--animation-timing-function);
  transition: fill 250ms var(--animation-timing-function);
}
.contacts-font:hover .contacts-icon, .contacts-font:focus .contacts-icon {
  fill: var(--color-selection-nav-text);
}

.mobile-menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-btn .icon-open {
  opacity: 1;
  -webkit-transition: fill var(--animation-timing-function);
  transition: fill var(--animation-timing-function);
}
.mobile-menu-btn .icon-open:hover, .mobile-menu-btn .icon-open:focus {
  fill: var(--color-selection-nav-text);
}

.mobile-menu-btn.is-open .icon-open {
  opacity: 0;
}

.mobile-menu-btn .icon-close {
  opacity: 0;
}

.mobile-menu-btn.is-open .icon-close {
  opacity: 1;
  -webkit-transition: fill var(--animation-timing-function);
  transition: fill var(--animation-timing-function);
}
.mobile-menu-btn.is-open .icon-close:hover, .mobile-menu-btn.is-open .icon-close:focus {
  fill: var(--color-selection-nav-text);
}

.mobile-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
  z-index: 90;
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu-contacts {
  margin-bottom: 64px;
}

.mobile-menu-nav-item {
  margin-bottom: 36px;
}
.mobile-menu-nav-item:last-child {
  margin-bottom: 0;
}

.mobile-menu-nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-menu-font {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-menu-position:first-child .mobile-menu-font {
  font-size: 24px;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .mobile-menu-position:first-child .mobile-menu-font {
    font-size: 34px;
  }
}

.mobile-menu-position {
  margin-top: 32px;
}
.mobile-menu-position:first-child {
  margin-top: 0;
}

.mobile-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-top: 64px;
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-mobile-menu-link);
}
.mobile-menu-item:not(:last-child) .mobile-menu-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

/* ======================================== 
studio ГЕРОЙ секция 
======================================== */
.hero {
  background-color: var(--color-background-section-one);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

/* background картинка hero */
.hero--img {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-hero-shadow)), to(var(--color-hero-shadow))), url(../images/images-index/hero-bg-mob-1x.jpg);
  background-image: linear-gradient(to right, var(--color-hero-shadow), var(--color-hero-shadow)), url(../images/images-index/hero-bg-mob-1x.jpg);
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero--img {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--color-hero-shadow)), to(var(--color-hero-shadow))), url(../images/images-index/hero-bg-mob-2x.jpg);
    background-image: linear-gradient(to right, var(--color-hero-shadow), var(--color-hero-shadow)), url(../images/images-index/hero-bg-mob-2x.jpg);
  }
}
@media screen and (max-width: 1199px) {
  .hero--img {
    height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero--img {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--color-hero-shadow)), to(var(--color-hero-shadow))), url(../images/images-index/hero-bg-tab-1x.jpg);
    background-image: linear-gradient(to right, var(--color-hero-shadow), var(--color-hero-shadow)), url(../images/images-index/hero-bg-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero--img {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--color-hero-shadow)), to(var(--color-hero-shadow))), url(../images/images-index/hero-bg-tab-2x.jpg);
    background-image: linear-gradient(to right, var(--color-hero-shadow), var(--color-hero-shadow)), url(../images/images-index/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero--img {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--color-hero-shadow)), to(var(--color-hero-shadow))), url(../images/images-index/hero-bg-desk-1x.jpg);
    background-image: linear-gradient(to right, var(--color-hero-shadow), var(--color-hero-shadow)), url(../images/images-index/hero-bg-desk-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero--img {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--color-hero-shadow)), to(var(--color-hero-shadow))), url(../images/images-index/hero-bg-desk-2x.jpg);
    background-image: linear-gradient(to right, var(--color-hero-shadow), var(--color-hero-shadow)), url(../images/images-index/hero-bg-desk-2x.jpg);
  }
}

/* studio ГЕРОЙ заглавие */
.hero__header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-hero-header);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .hero__header {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (max-width: 479px) {
  .hero__header {
    font-size: 20px;
    line-height: 1.62;
  }
}

/* ===== studio ГЕРОЙ кнопка ===== */
.button {
  font-family: inherit;
  color: var(--color-selection-button-text);
  background-color: var(--color-selection-button-background);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  min-height: 50px;
  border: 0;
  padding: 10px 31px;
  min-height: 50px;
}

/* tab кнопки studio */
.button--selection {
  -webkit-transition: background-color 250ms var(--animation-timing-function);
  transition: background-color 250ms var(--animation-timing-function);
}
.button--selection:hover, .button--selection:focus {
  background-color: var(--color-selection-button-focus);
}

/* ======================================== 
studio БЛОК наши преимущества 
======================================== */
/* делаем блоки в линию */
@media screen and (min-width: 768px) {
  .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

/* размещение карточек описания наших преимуществ */
@media screen and (max-width: 767px) {
  .benefits__list {
    margin-bottom: 30px;
  }
  .benefits__list:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .benefits__list {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
  }
}

/* studio наши преимущества заголовки разделов */
.benefits__slogan {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits__slogan {
    text-align: left;
  }
}

.benefits__box {
  height: 120px;
  background-color: var(--color-background-section-two);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

/* текст описания и верхний отступ от заголовка */
.benefits__description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-top: 10px;
}

/* ======================================== 
studio БЛОК чем мы занимаемся
======================================== */
/* верхний отступ */
.wrap {
  margin-top: 94px;
}
@media screen and (max-width: 1199px) {
  .wrap {
    display: none;
  }
}

/* чем мы занимаемся header */
.example__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

/* чем мы занимаемся блок */
.example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.example--indent {
  margin-top: 50px;
}

/* размещение карточек описания что мы делаем */
.example__list {
  margin-left: 30px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.example__list:first-child {
  margin-left: 0px;
}

/* чем мы занимаемся текст на карточке */
.example__text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-about-us-text);
  background-color: var(--color-about-us-bg-color);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* убираем нижний отступ у изображений */
.example__img {
  vertical-align: bottom;
}

/* ======================================== 
studio БЛОК наша команда
======================================== */
/* размещение карточек наша команда */
.box-position {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 480px) {
  .box-position {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 481px) and (max-width: 1199px) {
  .box-position {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }
}

/* бокс-карточка члена команды */
.container-team {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 1199px) {
  .container-team {
    padding-bottom: 24px;
  }
}

/* studio наша команда цвет секции */
.studio-section-team {
  background-color: var(--color-background-section-two);
}

/* studio наша команда главный заголовок */
.team-main-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .team-main-header {
    font-size: 28px;
    line-height: 1.79;
  }
}

/* studio наша команда имена команды */
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* текст описания и верхний отступ от заголовка */
.text-description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-top: 10px;
}

/* карточка команды */
.team-box {
  background-color: var(--color-background-main);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 480px) {
  .team-box {
    margin-bottom: 30px;
  }
  .team-box:last-child {
    margin-bottom: 0;
  }
}

.team-img {
  width: 270px;
}
@media screen and (width: 480px) {
  .team-img {
    width: 450px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1199px) {
  .team-img {
    width: 354px;
  }
}

/* ------- социальные сети команды ------- */
/* выравниваем ссылки социальных сетей в линию и отступы */
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

/* карточка-бокс социальные сети */
.social-item {
  width: 44px;
  height: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: var(--color-social-link-team);
  background-color: var(--color-social-link-team-background);
  -webkit-transition: fill 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function);
  transition: fill 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function);
}
.social-item:hover, .social-item:focus {
  color: var(--color-social-link-team-hover);
  background-color: var(--color-selection-nav-text);
}

/* логотип svg социальные сети*/
.social-icon {
  fill: currentColor;
  -webkit-transition: fill 250ms var(--animation-timing-function);
  transition: fill 250ms var(--animation-timing-function);
}
.social-item:hover .social-icon, .social-item:focus .social-icon {
  fill: var(--color-social-link-team-hover);
}

/* ======================================== 
studio БЛОК Постоянные клиенты 
======================================== */
/* header постоянные клиенты */
.clients-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .clients-header {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

/* список наших клиентов */
/* выравниваем карточки наших клиентов в линию */
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* карточка-бокс где содержится логотип клиента */
.clients-item {
  border: 1px solid var(--color-clients-logo-studio);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  -webkit-transition: border 250ms var(--animation-timing-function);
  transition: border 250ms var(--animation-timing-function);
}
.clients-item:hover, .clients-item:focus {
  border: 1px solid var(--color-selection-nav-text);
}
@media screen and (max-width: 480px) {
  .clients-item {
    width: 210px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1199px) {
  .clients-item {
    width: 226px;
  }
}

/* логотип svg компании клиента */
.clients-icon {
  -webkit-transition: fill 250ms var(--animation-timing-function);
  transition: fill 250ms var(--animation-timing-function);
  fill: #afb1b8;
}
.clients-item:hover .clients-icon, .clients-item:focus .clients-icon {
  fill: var(--color-selection-nav-text);
}

/* ---------- ========================================
footer 
---------- =========================================== */
/* футер секция */
.footer-section {
  background-color: var(--color-background-section-one);
  padding-top: 60px;
  padding-bottom: 60px;
}

/* выравниваем секции адрес и соц. сети */
@media screen and (max-width: 1199px) {
  .footer-box {
    text-align: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 1199px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 61px;
    margin-right: 74px;
  }
}

/* правый отступ секции адрес от секции соц. сети */
@media screen and (min-width: 1200px) {
  .section-footer-address {
    margin-right: 70px;
  }
}

/* --------- футер секция логотип и адрес  --------- */
.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo-main);
}

/* цвет нижнего логотипа */
.logo-bottom {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo-second-footer);
}

/* верхний отступ секкции адрес и убираем стьль италик */
.aside-position {
  margin-top: 20px;
  font-style: normal;
}

/* расположение нижнего адреса и контактов */
.address-position {
  margin-top: 9px;
}
@media screen and (max-width: 1199px) {
  .address-position {
    margin-top: 8px;
  }
}

.address-position:first-child {
  margin-top: 0px;
}
@media screen and (max-width: 1199px) {
  .address-position:first-child {
    margin-top: 0px;
  }
}

/* нижний адрес */
.adress-bottom {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-footer-adress);
}

/* нижний эмейл */
.mail-bottom {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* нижний телефон */
.tel-bottom {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* --------- футер секция присойдиняйтесь и соц. сети --------- */
/* футер header - присоединяйтесь */
.footer-social-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-footer-adress);
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer-social-header {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-social-header {
    margin-top: 0;
  }
}

/* выравниваем ссылки социальных сетей в линию и отступы */
.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

/* карточка-бокс социальные сети */
.footer-social-item {
  width: 44px;
  height: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: var(--color-footer-social-background);
  -webkit-transition: background-color 250ms var(--animation-timing-function);
  transition: background-color 250ms var(--animation-timing-function);
}
.footer-social-item:hover, .footer-social-item:focus {
  background-color: var(--color-selection-nav-text);
}

/* логотип svg социальные сети*/
.footer-social-icon {
  fill: var(--color-footer-adress);
  -webkit-transition: fill 250ms var(--animation-timing-function);
  transition: fill 250ms var(--animation-timing-function);
}
.footer-social-item:hover .footer-social-icon, .footer-social-item:focus .footer-social-icon {
  fill: var(--color-social-link-team-hover);
}

/* --------- футер секция подписаться на рассылку--------- */
@media screen and (min-width: 481px) and (max-width: 1199px) {
  .footer-subscription {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer-subscription-header {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-about-us-text);
}
@media screen and (max-width: 1199px) {
  .footer-subscription-header {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscription-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

.footer-subscription-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-background-section-one);
  outline: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscription-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscription-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscription-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscription-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscription-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 479px) {
  .footer-subscription-input {
    max-width: 290px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1199px) {
  .footer-subscription-input {
    width: 450px;
  }
}

.footer-subscription-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-about-us-text);
  border: none;
  cursor: pointer;
  background-color: var(--color-selection-button-background);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .footer-subscription-button {
    margin-top: 20px;
  }
}

.footer-subscription-button-icon {
  fill: var(--color-about-us-text);
  margin-left: 10px;
}

/* техническое заглавие */
.portfolio-hero {
  color: var(--color-technical-text);
}

/* ----- portfolio кнопки ----- */
/* делаем кнопки портфолио в линию и расположение */
.button-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .button-line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .button-line {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button-position {
  margin-left: 8px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .button-position {
    margin-top: 15px;
  }
  .button-position:nth-child(4) {
    margin-left: 0;
  }
  .button-position:nth-child(-n+3) {
    margin-top: 0;
  }
}
@media screen and (max-width: 479px) {
  .button-position {
    margin-top: 15px;
  }
}

.button-position:first-child {
  margin-left: 0px;
}

/* portfolio кнопка все */
.button-portfolio-all {
  font-family: inherit;
  color: var(--color-selection-button-text);
  background-color: var(--color-selection-button-background);
  width: 73px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  max-width: 150px;
  min-height: 38px;
  border: 0;
  padding: 6px 22px;
}

/* portfolio кнопки выбора  */
.button-portfolio-choice {
  font-family: inherit;
  background: var(--color-button-portfolio);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  max-width: 150px;
  min-height: 38px;
  border: 0;
  padding: 6px 22px;
}

/* tab кнопок portfolio */
.selection-button-portfolio {
  -webkit-transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function), -webkit-box-shadow 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function), -webkit-box-shadow 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function), box-shadow 250ms var(--animation-timing-function);
  transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function), box-shadow 250ms var(--animation-timing-function), -webkit-box-shadow 250ms var(--animation-timing-function);
}
.selection-button-portfolio:hover, .selection-button-portfolio:focus {
  color: var(--color-selection-button-text);
  background-color: var(--color-selection-button-background);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ======================================== 
portfolio БЛОК примеры наших робот
======================================== */
/* делаем примеры наших работ в линию */
@media screen and (min-width: 768px) {
  .product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

/* верхний маржин секции примеры наших работ */
@media screen and (min-width: 1200px) {
  .product-position {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .product-position {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .product-position {
    margin-top: 40px;
  }
}
@media screen and (max-width: 479px) {
  .product-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* портфолио примеры робот в коробке */
.box-example {
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms var(--animation-timing-function);
  transition: -webkit-box-shadow 250ms var(--animation-timing-function);
  transition: box-shadow 250ms var(--animation-timing-function);
  transition: box-shadow 250ms var(--animation-timing-function), -webkit-box-shadow 250ms var(--animation-timing-function);
}
.box-example:hover, .box-example:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 767px) {
  .box-example {
    margin-top: 30px;
  }
  .box-example:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 479px) {
  .box-example {
    width: 290px;
  }
}

.product-img {
  vertical-align: bottom;
  width: 290px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .product-img {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product-img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .product-img {
    width: 370px;
  }
}

/* портфолио overlay над карточкой - примеры робот */
.box-example-overlay {
  position: relative;
  overflow: hidden;
}

.product-description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-hero-header);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms var(--animation-timing-function);
  transition: -webkit-transform 250ms var(--animation-timing-function);
  transition: transform 250ms var(--animation-timing-function);
  transition: transform 250ms var(--animation-timing-function), -webkit-transform 250ms var(--animation-timing-function);
  height: 294px;
  padding-left: 24px;
  padding-right: 24px;
}
.box-example:hover .product-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (max-width: 479px) {
  .product-description {
    width: 290px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .product-description {
    width: 450px;
    padding-top: 77px;
    padding-bottom: 77px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product-description {
    width: 354px;
    padding-top: 49px;
    padding-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .product-description {
    width: 370px;
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

/* коробка текста описания наших работ */
.box-description {
  padding: 20px 24px;
  border: 1px solid var(--color-line-box);
  border-top: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .box-description {
    width: 354px;
  }
}

/* портфолио заголовок примера */
.portfolio-box-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* портфолио текст примера */
.portfolio-box-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-top: 4px;
}

/* ---------- ========================================
модальное окно
---------- =========================================== */
/* оверлей модального окна */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms var(--animation-timing-function), visibility 250ms var(--animation-timing-function);
  transition: opacity 250ms var(--animation-timing-function), visibility 250ms var(--animation-timing-function);
  z-index: 110;
}

/* анимация появления модального окна */
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

/* само модальное окно */
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (max-width: 479px) {
  .modal {
    width: 100%;
    height: 100%;
  }
}

/* кнопка закрытия модального окна */
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-close-cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: fill var(--animation-timing-function);
  transition: fill var(--animation-timing-function);
}
.modal-close-cross:hover {
  fill: var(--color-selection-nav-text);
}

/* прячем модальное окно */
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* заглавие модального окна */
.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  -webkit-transition: color var(--animation-timing-function);
  transition: color var(--animation-timing-function);
}
.modal-form-box:hover {
  color: var(--color-selection-nav-text);
}

.modal-form-box.indent {
  margin-bottom: 20px;
}

/* текст форм ввода */
.modal-form-tag {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-text);
}
@media screen and (max-width: 1199px) {
  .modal-form-tag {
    color: currentColor;
  }
}

.modal-form-input {
  margin-top: 4px;
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;
  color: var(--color-text);
  -webkit-transition: border-color var(--animation-timing-function);
  transition: border-color var(--animation-timing-function);
}
.modal-form-input:hover, .modal-form-input:focus {
  border-color: var(--color-selection-nav-text);
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  -webkit-transition: fill var(--animation-timing-function);
  transition: fill var(--animation-timing-function);
}
.modal-form-input:hover + .modal-form-icon {
  fill: var(--color-selection-nav-text);
}

/* форма комментарий */
.modal-form-cooment {
  height: 120px;
  width: 100%;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  color: var(--color-text);
  -webkit-transition: border-color var(--animation-timing-function);
  transition: border-color var(--animation-timing-function);
}
.modal-form-cooment::-webkit-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-cooment::-moz-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-cooment:-ms-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-cooment::-ms-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-cooment::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-cooment:hover, .modal-form-cooment:focus {
  border-color: var(--color-selection-nav-text);
}

/* форма согласие с рассылкой  */
.check-center {
  margin-bottom: 30px;
}

.modal-form-box.check-center {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form-check:checked + .modal-form-check-mark {
  border-color: transparent;
  background-color: var(--color-selection-nav-text);
}

.visually-hidden {
  position: absolute;
  scale: 0;
  opacity: 0;
}

.modal-form-check-mark {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--color-main);
  border-radius: 2px;
  -webkit-transition: border-color var(--animation-timing-function), background-color var(--animation-timing-function);
  transition: border-color var(--animation-timing-function), background-color var(--animation-timing-function);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form-check-icon {
  fill: var(--color-background-main);
}

.modal-form-check-agreement {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
@media screen and (max-width: 1199px) {
  .modal-form-check-agreement {
    font-size: 12px;
  }
}

.modal-form-check-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-underline-position: under;
  color: var(--color-selection-button-background);
}

/* кнопка сабмита */
.modal-form-submit-button {
  width: 200px;
  min-height: 50px;
  padding: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-selection-button-text);
  background-color: var(--color-selection-button-background);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color var(--animation-timing-function);
  transition: background-color var(--animation-timing-function);
}
.modal-form-submit-button:hover, .modal-form-submit-button:focus {
  background-color: var(--color-modal-button-submit-hover);
}/*# sourceMappingURL=main.css.map */