body {
  font-family: "Raleway", sans-serif;
  background-color: #ffffff;
  color: #212121;
}

.list {
  list-style: none;
}

.button-main {
  color: #ffffff;
  background-color: #2196f3;
}

.link-current {
  color: #2196f3;
}
