body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #212121;
  font-weight: 400;
}

/* changeable rules */
:root {
  --color-text: #757575;
  --color-logo: #2196f3;
  --color-button-portfolio: #f5f4fa;
}
.selection:hover,
.selection:focus {
  color: #2196f3;
}
.cursor-view {
  cursor: pointer;
}

/* ----- header all ----- */

/* logo */
.logo-top {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--color-logo);
}
.logo-studio {
  color: #212121;
}

/* link */
.link-current {
  color: #2196f3;
}

/* studio */
.list-studio {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* portfolio */
.list-portfolio {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* contacts */
.list-contacts {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* email */
.contacts-email {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-text);
}

/* tel */
.contacts-tel {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-text);
}

/* ----- main studio ----- */

.studio-hero {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;

  background-color: #2f303a;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.button-main-index {
  color: #ffffff;
  background-color: #2196f3;

  position: absolute;
  width: 200px;
  height: 50px;
  left: 732px;
  top: 440px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* наши преимущества studio */

.benefit-header {
  position: absolute;
  left: 612px;
  top: 669px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: red;
}

.benefit-one-slogan {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefit-one-text {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-text);
}

.benefit-two-slogan {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefit-two-text {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 515px;
  top: 800px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-text);
}

.benefit-three-slogan {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 815px;
  top: 774px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefit-three-text {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 815px;
  top: 800px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-text);
}

.benefit-four-slogan {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 1115px;
  top: 774px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefit-four-text {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 1115px;
  top: 800px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-text);
}

/* про нас studio */

.about-us-header {
  position: absolute;
  left: 612px;
  top: 969px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.about-us-one {
  position: absolute;
  left: 215px;
  top: 1061px;
}

.about-us-two {
  position: absolute;
  left: 615px;
  top: 1061px;
}

.about-us-three {
  position: absolute;
  left: 1015px;
  top: 1061px;
}

/* наша команда studio */

.team-header {
  position: absolute;
  left: 668px;
  top: 1543px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* учасник 1 */
.team-one-foto {
  position: absolute;
  left: 215px;
  top: 1635px;
}

.team-one-name {
  position: absolute;
  left: 275px;
  top: 1925px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-one-role {
  position: absolute;
  width: 130px;
  height: 19px;
  left: 285px;
  top: 1954px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-text);
}

/* учасник 2 */
.team-two-foto {
  position: absolute;
  left: 515px;
  top: 1635px;
}

.team-two-name {
  position: absolute;
  left: 596px;
  top: 1925px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-two-role {
  position: absolute;
  width: 147px;
  height: 19px;
  left: 577px;
  top: 1954px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-text);
}

/* учасник 3 */
.team-three-foto {
  position: absolute;
  left: 815px;
  top: 1635px;
}

.team-three-name {
  position: absolute;
  left: 882px;
  top: 1925px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-three-role {
  position: absolute;
  width: 76px;
  height: 19px;
  left: 912px;
  top: 1954px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-text);
}

/* учасник 4 */
.team-four-foto {
  position: absolute;
  left: 1115px;
  top: 1635px;
}

.team-four-name {
  position: absolute;
  left: 1183px;
  top: 1925px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-four-role {
  position: absolute;
  width: 87px;
  height: 19px;
  left: 1207px;
  top: 1954px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-text);
}

/* ----- footer ----- */

.logo-bottom {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--color-logo);
}

.adress-bottom {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
  background-color: #2f303a;
}

.mail-bottom {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

.tel-bottom {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

/* footer index position */
.footer-index-logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2157px;
}
.footer-index-adress {
  position: absolute;
  left: 215px;
  top: 2208px;
}
.footer-index-mail {
  position: absolute;
  left: 215px;
  top: 2238px;
}
.footer-index-tel {
  position: absolute;
  left: 215px;
  top: 2268px;
}

/* footer portfolio position */
.footer-portfolio-logo {
  position: absolute;
  left: 215px;
  top: 1688px;
}
.footer-portfolio-adress {
  position: absolute;
  left: 215px;
  top: 1739px;
}
.footer-portfolio-mail {
  position: absolute;
  left: 215px;
  top: 1769px;
}
.footer-portfolio-tel {
  position: absolute;
  left: 215px;
  top: 1799px;
}

/* ----- portfolio----- */

/* техническое заглавие */
.portfolio-hero {
  position: absolute;
  left: 734px;
  top: 200px;
  color: red;
}

/* кнопки выбора portfolio */
.button-portfolio-all {
  background: var(--color-button-portfolio);
  position: absolute;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.button-portfolio-site {
  background: var(--color-button-portfolio);
  position: absolute;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.button-portfolio-app {
  background: var(--color-button-portfolio);
  position: absolute;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.button-portfolio-design {
  background: var(--color-button-portfolio);
  position: absolute;
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.button-portfolio-marketing {
  background: var(--color-button-portfolio);
  position: absolute;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

/* примеры наших робот */

/* пример один */
.portfolio-foto-one {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 262px;
}
.portfolio-header-one {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 239px;
  top: 576px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-description-one {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 239px;
  top: 616px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* пример два */
.portfolio-foto-two {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 262px;
}
.portfolio-header-two {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 639px;
  top: 576px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-description-two {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 639px;
  top: 616px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-text);
}

/* пример три */
.portfolio-foto-three {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 262px;
}
.portfolio-header-three {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 576px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-description-three {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 616px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* пример четыре */
.portfolio-foto-four {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 696px;
}
.portfolio-header-four {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 239px;
  top: 1010px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-description-four {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1050px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* пример пять */
.portfolio-foto-five {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 696px;
}
.portfolio-header-five {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1010px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-description-five {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1050px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* пример шесть */
.portfolio-foto-six {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 696px;
}
.portfolio-header-six {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1010px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-description-six {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1050px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* пример семь */
.portfolio-foto-seven {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1130px;
}
.portfolio-header-seven {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 239px;
  top: 1444px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-description-seven {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1484px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* пример восемь */
.portfolio-foto-eight {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1130px;
}
.portfolio-header-eight {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1444px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-description-eight {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1484px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* пример девять*/
.portfolio-foto-nine {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1130px;
}
.portfolio-header-nine {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1444px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-description-nine {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1484px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
