/* ------ глобальные правила ----- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* убираем нижний отступ у изображений */
.img-corect {
  vertical-align: bottom;
}

/* ----- изменяемые цвета ----- */
:root {
  --color-main: #212121;
  --color-background-main: #ffffff;
  --color-text: #757575;
  --color-logo-main: #2196f3;
  --color-logo-second-top: #212121;
  --color-logo-second-footer: #ffffff;
  --color-hero-header: #ffffff;
  --color-hero-shadow: rgba(47, 48, 58, 0.4);
  --color-selection-nav-text: #2196f3;
  --color-selection-button-text: #ffffff;
  --color-selection-button-background: #2196f3;
  --color-social-link-team: #afb1b8;
  --color-social-link-team-hover: #ffffff;
  --color-social-link-team-background: transparent;
  --color-clients-logo-studio: #afb1b8;
  --color-button-portfolio: #f5f4fa;
  --color-background-section-one: #2f303a;
  --color-background-section-two: #f5f4fa;
  --color-technical-text: #ff0000;
  --color-line-header: #ececec;
  --color-line-box: #eeeeee;
  --color-footer-adress: #ffffff;
  --color-footer-social-background: rgba(255, 255, 255, 0.1);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background-main);
  color: var(--color-main);
  font-size: 14px;
}

.link {
  color: var(--color-main);
  text-decoration: none;
}

.link-decoration {
  text-decoration: none;
}

/* ------ выделение ----- */

/* показываем на какой мы странице */
.link-current {
  color: var(--color-selection-nav-text);
}

/* tab навигации */
.selection-nav:hover,
.selection-nav:focus {
  color: var(--color-selection-nav-text);
}

/* tab кнопок studio */
.selection-button-studio:hover,
.selection-button-studio:focus {
  color: var(--color-selection-button-text);
  background-color: var(--color-selection-button-background);
}

/* ----------- контейнер ---------- */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ----- header all ----- */

/* выравнивание элементов header в линю и минимальная высота */
.header-horizont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}
/* линия под хедером */
.decor {
  border-bottom: 1px solid var(--color-line-header);
}

/* logo */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo-main);
  margin-right: 93px;
}
.logo-studio-top {
  color: var(--color-logo-second-top);
}

/* расположение навигации */
.nav-position {
  margin-left: 50px;
  display: flex;
}
.nav-position:first-child {
  margin-left: 0px;
}

/* шрифты и расположение для studio, portfolio и contacts  */
.nav-font {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* расположение contacts */

.contacts-position {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.contacts-position:last-child {
  margin-right: 0;
}

/* шрифта email и tel */
.contacts-font {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

/* иконка конверта в контактах */
.contacts-email-box {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.contacts-email-img:hover,
.contacts-email-img:focus {
  fill: var(--color-selection-nav-text);
}

/* иконка смартфона в контактах */
.contacts-tel-box {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.contacts-tel-img:hover,
.contacts-tel-img:focus {
  fill: var(--color-selection-nav-text);
}

/* -------------- main studio --------------- */

/* глобальные параметры секций */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* текст описания для всего studio и верхний отступ от заголовка */
.text-description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-top: 10px;
}

/* ======================================== 
studio ГЕРОЙ секция 
======================================== */

.studio-section-hero {
  background-color: var(--color-background-section-one);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

/* background картинка hero */
.hero-background-img {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      var(--color-hero-shadow),
      var(--color-hero-shadow)
    ),
    url(../images-index/hero-background.jpg);
  background-position: center;
  background-size: cover;
}

/* studio ГЕРОЙ заглавие */
.studio-hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-hero-header);

  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* ===== studio ГЕРОЙ кнопка ===== */
.button-main-studio {
  font-family: inherit;
  color: var(--color-selection-button-text);
  background-color: var(--color-selection-button-background);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  width: 200px;
  min-height: 50px;
  border: 0;
  padding: 10px 31px;
  min-height: 50px;
}

/* ----- другие секции студио ----- */

/* ----- глобальные настройки для секций студио ----- */

/* делаем блоки в линию */
.items-horizont {
  display: flex;
  align-items: center;
}

/* размещение карточек чем мы занимаемся и наша команда */
.box-position {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

/* ======================================== 
studio БЛОК наши преимущества 
======================================== */

/* размещение карточек описания наших преимуществ */
.benefit-list {
  width: 270px;
  margin-left: 30px;
}
.benefit-list:first-child {
  margin-left: 0px;
}

/* studio наши преимущества заголовки разделов */
.benefit-slogan {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*  */
.benefit-box {
  width: 270px;
  height: 120px;
  background-color: var(--color-background-section-two);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/* ======================================== 
studio БЛОК чем мы занимаемся
======================================== */

/* верхний отступ */
.wrap {
  margin-top: 94px;
}

/* размещение карточек описания что мы делаем */
.work-list {
  margin-left: 30px;
}
.work-list:first-child {
  margin-left: 0px;
}

/* studio чем мы занимаемся заголовок */
.about-us-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

/* ======================================== 
studio БЛОК наша команда
======================================== */

/* размещение карточек описания наша команда */
.team-box-position {
  margin-left: 30px;
}
.team-box-position:first-child {
  margin-left: 0px;
}

/* бокс-карточка члена команды */
.container-team {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* studio наша команда цвет секции */
.studio-section-team {
  background-color: var(--color-background-section-two);
}

/* studio наша команда главный заголовок */
.team-main-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

/* studio наша команда имена команды */
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* карточка команды */
.ind-team-box {
  width: 270px;
  background-color: var(--color-background-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* ------- социальные сети команды ------- */

/* выравниваем ссылки социальных сетей в линию и отступы */
.social-list {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-left: 32px;
  margin-right: 32px;
  gap: 10px;
}
/* карточка-бокс социальные сети */
.social-item {
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  fill: var(--color-social-link-team);
  background-color: var(--color-social-link-team-background);
}
.social-item:hover,
.social-item:focus {
  fill: var(--color-selection-nav-text);
  background-color: var(--color-selection-nav-text);
}

/* логотип svg социальные сети*/
.social-icon {
  fill: #afb1b8;
}
.social-item:hover .social-icon,
.social-item:focus .social-icon {
  fill: var(--color-social-link-team-hover);
}

/* ======================================== 
studio БЛОК Постоянные клиенты 
======================================== */

/* header постоянные клиенты */
.clients-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* список наших клиентов */
/* выравниваем карточки наших клиентов в линию */
.clients-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
/* карточка-бокс где содержится логотип клиента */
.clients-item {
  border: 1px solid var(--color-clients-logo-studio);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  cursor: pointer;
  fill: var(--color-clients-logo-studio);
}
.clients-item:hover,
.clients-item:focus {
  fill: var(--color-selection-nav-text);
  border: 1px solid var(--color-selection-nav-text);
}

/* логотип svg компании клиента */
.clients-icon {
  fill: #afb1b8;
}
.clients-item:hover .clients-icon,
.clients-item:focus .clients-icon {
  fill: var(--color-selection-nav-text);
}

/* ---------- ========================================
footer 
---------- =========================================== */

/* футер секция */
.footer-section {
  background-color: var(--color-background-section-one);
  padding-top: 60px;
  padding-bottom: 60px;
}

/* выравниваем секции адрес и соц. сети */
.footer-horisont {
  display: flex;
  align-items: baseline;
}
/* правый отступ секции адрес от секции соц. сети */
.section-footer-address {
  margin-right: 70px;
}

/* --------- футер секция логотип и адрес  --------- */

/* нижний отступ от логотипа */
.logo-footer {
  margin-bottom: 20px;
}

/* цвет нижнего логотипа */
.logo-bottom {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo-second-footer);
}

/* верхний отступ секкции адрес и убираем стьль италик */
.aside-position {
  margin-top: 20px;
  font-style: normal;
}

/* расположение нижнего адреса и контактов */
.address-position {
  margin-top: 9px;
}
.address-position:first-child {
  margin-top: 0px;
}

/* нижний адрес */
.adress-bottom {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-footer-adress);
}

/* нижний эмейл */
.mail-bottom {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* нижний телефон */
.tel-bottom {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* --------- футер секция присойдиняйтесь и соц. сети --------- */

/* футер header - присоединяйтесь */
.footer-social-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-footer-adress);
  margin-bottom: 20px;
}

/* выравниваем ссылки социальных сетей в линию и отступы */
.footer-social-list {
  display: flex;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}
/* карточка-бокс социальные сети */
.footer-social-item {
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background-color: var(--color-footer-social-background);
  fill: var(--color-footer-adress);
}
.footer-social-item:hover,
.footer-social-item:focus {
  fill: var(--color-selection-nav-text);
  background-color: var(--color-selection-nav-text);
}

/* логотип svg социальные сети*/
.footer-social-icon {
  fill: var(--color-footer-adress);
}
.footer-social-item:hover .social-icon,
.footer-social-item:focus .social-icon {
  fill: var(--color-social-link-team-hover);
}

/* --------------------- ===============================
portfolio 
------------------------ ================================== */

/* техническое заглавие */
.portfolio-hero {
  color: var(--color-technical-text);
}
/* ----- portfolio кнопки ----- */
/* делаем кнопки портфолио в линию и расположение */
.button-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-position {
  margin-left: 8px;
}
.button-position:first-child {
  margin-left: 0px;
}

/* portfolio кнопка все */
.button-portfolio-all {
  font-family: inherit;
  color: var(--color-selection-button-text);
  background-color: var(--color-selection-button-background);
  width: 73px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;

  max-width: 150px;
  min-height: 38px;
  border: 0;
  padding: 6px 22px;
}

/* portfolio кнопки выбора  */
.button-portfolio-choice {
  font-family: inherit;
  background: var(--color-button-portfolio);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;

  max-width: 150px;
  min-height: 38px;
  border: 0;
  padding: 6px 22px;
}

/* tab кнопок portfolio */
.selection-button-portfolio:hover,
.selection-button-portfolio:focus {
  color: var(--color-selection-button-text);
  background-color: var(--color-selection-button-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* портфолио примеры наших робот */
/* делаем примеры наших работ в линию */
.product-horisont {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* верхний маржин секции примеры наших работ */
.product-position {
  margin-top: 50px;
}
/* отступы коробок на странице */
.box-example:nth-child(3n + 1) {
  margin-left: 0px;
}
.box-example:nth-child(-n + 3) {
  margin-top: 0px;
}

/* портфолио примеры робот в коробке */
.box-example {
  width: 370px;
  margin-left: 30px;
  margin-top: 30px;
  cursor: pointer;
}
.box-example:hover,
.box-example:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* коробка текста описания наших работ */
.box-description {
  padding: 20px 24px;
  border: 1px solid var(--color-line-box);
  border-top: none;
}

/* портфолио заголовок примера */
.portfolio-box-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* портфолио текст примера */
.portfolio-box-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-top: 4px;
}
