/* ======================================== 
portfolio БЛОК примеры наших робот
======================================== */

/* делаем примеры наших работ в линию */
.product-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

/* верхний маржин секции примеры наших работ */
.product-position {
  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
  @media screen and (max-width: 1199px) {
    margin-top: 30px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 40px;
  }
  @media screen and (max-width: 479px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* портфолио примеры робот в коробке */
.box-example {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow 250ms var(--animation-timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (max-width: 767px) {
    margin-top: 30px;
    &:first-child {
      margin-top: 0;
    }
  }
  @media screen and (max-width: 479px) {
    width: 290px;
  }
}

.product-img {
  vertical-align: bottom;

  width: 290px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

/* портфолио overlay над карточкой - примеры робот */
.box-example-overlay {
  position: relative;
  overflow: hidden;
}

.product-description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-hero-header);
  background-color: rgba(33, 150, 243, 0.9);

  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms var(--animation-timing-function);

  height: 100%;
  padding-left: 24px;
  padding-right: 24px;

  .box-example:hover & {
    transform: translateY(0);
  }

  @media screen and (max-width: 479px) {
    font-size: 14px;
    width: 290px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 450px;
    padding-top: 77px;
    padding-bottom: 77px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    padding-top: 49px;
    padding-bottom: 77px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

/* коробка текста описания наших работ */
.box-description {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid var(--color-line-box);
  border-top: none;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
  }
}

/* портфолио заголовок примера */
.portfolio-box-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* портфолио текст примера */
.portfolio-box-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-top: 4px;
}
