/* ---------- ========================================
footer 
---------- =========================================== */

/* футер секция */
.footer-section {
  background-color: var(--color-background-section-one);
  padding-top: 60px;
  padding-bottom: 60px;
}

/* выравниваем секции адрес и соц. сети */
.footer-box {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 481px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-wrap {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-between;
    margin-left: 61px;
    margin-right: 74px;
  }
}

/* правый отступ секции адрес от секции соц. сети */
.section-footer-address {
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

/* --------- футер секция логотип и адрес  --------- */
.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo-main);
}

/* цвет нижнего логотипа */
.logo-bottom {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo-second-footer);
}

/* верхний отступ секкции адрес и убираем стьль италик */
.aside-position {
  margin-top: 20px;
  font-style: normal;
}

/* расположение нижнего адреса и контактов */
.address-position {
  margin-top: 9px;
  @media screen and (max-width: 1199px) {
    margin-top: 8px;
  }
}

.address-position:first-child {
  margin-top: 0px;
  @media screen and (max-width: 1199px) {
    margin-top: 0px;
  }
}

/* нижний адрес */
.adress-bottom {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-footer-adress);
}

/* нижний эмейл */
.mail-bottom {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* нижний телефон */
.tel-bottom {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* --------- футер секция присойдиняйтесь и соц. сети --------- */

.footer-social {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
}

/* футер header - присоединяйтесь */
.footer-social-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-footer-adress);
  margin-bottom: 20px;
}

/* выравниваем ссылки социальных сетей в линию и отступы */
.footer-social-list {
  display: flex;
  align-items: center;

  justify-content: center;

  margin-top: 16px;
  gap: 10px;
}
/* карточка-бокс социальные сети */
.footer-social-item {
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background-color: var(--color-footer-social-background);
  transition: background-color 250ms var(--animation-timing-function);
  &:hover,
  &:focus {
    background-color: var(--color-selection-nav-text);
  }
}

/* логотип svg социальные сети*/
.footer-social-icon {
  fill: var(--color-footer-adress);
  transition: fill 250ms var(--animation-timing-function);
  .footer-social-item:hover &,
  .footer-social-item:focus & {
    fill: var(--color-social-link-team-hover);
  }
}

/* --------- футер секция подписаться на рассылку--------- */

.footer-subscription {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
}

.footer-subscription-header {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-about-us-text);
}

.footer-subscription-box {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.footer-subscription-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-background-section-one);
  outline: transparent;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (max-width: 479px) {
    max-width: 290px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
  @media screen and (min-width: 481px) and (max-width: 1199px) {
    width: 450px;
  }
}

.footer-subscription-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-about-us-text);
  border: none;
  cursor: pointer;

  background-color: var(--color-selection-button-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  @media screen and (max-width: 1199px) {
    margin-top: 20px;
  }
}

.footer-subscription-button-icon {
  fill: var(--color-about-us-text);
  margin-left: 10px;
}
