/* ----- header all ----- */

/* выравнивание элементов header в линю и минимальная высота */

.header {
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header-container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-mobile {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

/* линия под хедером */
.decor {
  border-bottom: 1px solid var(--color-line-header);
}

/* logo */
.logo-header {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo-main);
  margin-right: 93px;

  @media screen and (max-width: 1199px) {
    margin-right: 88px;
  }
}

.logo-studio-top {
  color: var(--color-logo-second-top);
}

/* расположение навигации */
.nav-position {
  margin-left: 50px;
  display: flex;
}
.nav-position:first-child {
  margin-left: 0px;
}

/* шрифты и расположение для studio, portfolio и contacts  */
.nav-font {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

/* расположение contacts */

.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts-position {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-right: 50px;
    display: flex;
    align-items: center;
    &:last-child {
      margin-right: 0;
    }
  }
}

/* шрифт, выравнивание и падинги email и tel */
.contacts-font {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  display: flex;
  align-items: center;

  transition: color 250ms var(--animation-timing-function);

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: var(--color-selection-nav-text);
  }
}

/* отступ svg справа */
.contacts-icon {
  fill: var(--color-text);
  margin-right: 10px;
  transition: fill 250ms var(--animation-timing-function);

  .contacts-font:hover &,
  .contacts-font:focus & {
    fill: var(--color-selection-nav-text);
  }
}
