/* ======================================== 
studio БЛОК наши преимущества 
======================================== */

/* делаем блоки в линию */
.benefits {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

/* размещение карточек описания наших преимуществ */
.benefits__list {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: 354px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 270px;
  }
}

/* studio наши преимущества заголовки разделов */
.benefits__slogan {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.benefits__box {
  height: 120px;
  background-color: var(--color-background-section-two);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/* текст описания и верхний отступ от заголовка */
.benefits__description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-top: 10px;
}
