/* ------ выделение ----- */

/* показываем на какой мы странице */
.link-current {
  color: var(--color-selection-nav-text);
  &::after {
    content: "";
    position: absolute;
    display: flex;
    height: 4px;
    width: 100%;
    bottom: 0;
    background-color: var(--color-selection-nav-text);
  }
}

/* tab навигации */
.selection-nav {
  transition: color 250ms var(--animation-timing-function);
  &:hover,
  &:focus {
    color: var(--color-selection-nav-text);
  }
}
