/* ----- изменяемые цвета ----- */
:root {
  --color-main: #212121;
  --color-background-main: #ffffff;
  --color-text: #757575;
  --color-logo-main: #2196f3;
  --color-logo-second-top: #212121;
  --color-logo-second-footer: #ffffff;
  --color-hero-header: #ffffff;
  --color-hero-shadow: rgba(47, 48, 58, 0.4);
  --color-selection-nav-text: #2196f3;
  --color-selection-button-text: #ffffff;
  --color-selection-button-background: #2196f3;
  --color-selection-button-focus: #188ce8;
  --color-social-link-team: #afb1b8;
  --color-social-link-team-hover: #ffffff;
  --color-social-link-team-background: transparent;
  --color-about-us-text: #ffffff;
  --color-about-us-bg-color: rgba(47, 48, 58, 0.8);
  --color-clients-logo-studio: #afb1b8;
  --color-button-portfolio: #f5f4fa;
  --color-background-section-one: #2f303a;
  --color-background-section-two: #f5f4fa;
  --color-technical-text: #ff0000;
  --color-line-header: #ececec;
  --color-line-box: #eeeeee;
  --color-footer-adress: #ffffff;
  --color-footer-social-background: rgba(255, 255, 255, 0.1);
  --color-modal-button-submit-hover: #188ce8;
  --color-mobile-menu-link: #2196f3;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
